accounts:
  - seq: 1
    site: coupang
    id: ENC(MEUCIF2TdsaFQ==)
    pass: ENC(MIGJAoGBAKqPcjsLQ==)
  - seq: 2
    site: gmarket
    id: ENC(MEUCIQDxx92UQ==)
    pass: ENC(MIGJAoGBAN91vshwQ==)
  - seq: 3
    site: ssg
    id: ENC(MEUCIQCxx89UQ==)
    pass: ENC(MIGJAoGBAN91tthwQ==)
  - seq: 4
    site: oasis
    id: ENC(MEUCIQDxx77UQ==)
    pass: ENC(MIGJAoGBAN91wwlwQ==)