accounts:
  - site: coupang
    id: ENC(MEUCIF2TdsaFQ==)
    pass: ENC(MIGJAoGBAKqPcjsLQ==)
  - site: gmarket
    id: ENC(MEUCIQDxx92UQ==)
    pass: ENC(MIGJAoGBAN91vshwQ==)
  - site: ssg
    id: ENC(MEUCIQCxx89UQ==)
    pass: ENC(MIGJAoGBAN91tthwQ==)
  - site: oasis
    id: ENC(MEUCIQDxx77UQ==)
    pass: ENC(MIGJAoGBAN91wwlwQ==)